a:hover {
    color: $ps-grey-hover;
}

.nav-actions ul li>*:hover {
    color: $ps-blue-hover ;
}

.btn-black:hover {
    background-color: $ps-black-hover !important;
}

.btn-red:hover {
    background-color: $ps-red-hover !important;
}

.btn-blue:hover,
.btn-white:hover {
    background-color: $ps-blue-hover !important;
    color: #FFFFFF !important;
}